.menuBarItems .button-selected a {
  color: var(--day-menu-hover-color);
}

.night .menuBarItems .button-selected a {
  color: var(--night-menu-hover-color);
}

.menuBarItems .button-selected::before {
  color: var(--day-menu-hover-color);
  content: '➜ ';
  font-size: 0.7rem;
}

.night .menuBarItems .button-selected::before {
  color: var(--night-menu-hover-color);
}

.menuBarItems {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  width: 100%;
}

@media (min-width: 500px) {
  .menuBarItems {
    padding-right: 50px;
    width: 75%;
  }
}

@media (min-width: 800px) {
  .menuBarItems {
    width: 50%;
  }
}

.menuBarItems button {
  background-color: transparent;
  border: none;
  height: 20px;
  text-align: end;
  white-space: nowrap;
  width: 100px;
}

.menuBarItems button:focus {
  outline: none;
}

.menuBarItems button a {
  color: var(--day-font-color);
  font-size: 0.9rem;
  text-decoration: none;
  white-space: nowrap;
}

.menuBarItems button a:hover {
  color: var(--day-menu-hover-color);
}

.night .menuBarItems button a:hover {
  color: var(--night-menu-hover-color);
}

.night .menuBarItems button a {
  color: var(--night-font-color);
}

.titleContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.titleContainer button {
  background-color: transparent;
  border: 0;
  height: fit-content;
}

.titleContainer button:focus:not(.focus-visible) {
  outline: none;
}

.titleContainer button:focus-visible {
  outline: none;
}

.titleContainer span {
  align-self: center;
  cursor: pointer;
}

.wrapper {
  background-color: var(--day-header-bg-color);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.night .wrapper {
  background-color: var(--night-header-bg-color);
}

.wrapper a {
  text-decoration: none;
}

.wrapper p {
  animation: animateCursor 600ms infinite;
  border-right: 3px solid var(--day-font-important-color);
  color: var(--day-font-important-color);
  font-weight: bold;
  padding-right: 5px;
}

.night .wrapper p {
  animation: animateCursorNight 600ms infinite;
  border-right: 3px solid var(--night-font-color);
  color: var(--night-font-color);
}

@keyframes animateCursor {
  from {
    border-right-color: var(--day-font-important-color);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes animateCursorNight {
  from {
    border-right-color: var(--night-font-color);
  }
  to {
    border-right-color: transparent;
  }
}
