:root {
  --day-bg-color: #fff;
  --day-font-color: #393b44;
  --day-font-important-color: #222831;
  --day-footer-text-color: #8d93ab;
  --day-header-bg-color: #eee;
  --day-image-border-color: #f1f3f8;
  --day-li-font-color: #393b44;
  --day-notification-bg-color: #202124;
  --day-notification-close-bg-color: #737373;
  --day-notification-color: #fff;
  --day-ruler-color: #8d93ab;

  --night-bg-color: #000;
  --night-font-color: #eee;
  --night-header-bg-color: #363636;
  --night-li-font-color: #a0aec0;
  --night-notification-bg-color: #eee;
  --night-notification-close-bg-color: #cacdcf;
  --night-notification-color: #202124;
  --night-ruler-color: #f1f3f8;

  --contact-form-color: #be9f76;
  --contact-form-title-color: #81643d;
  --fail-icon-color: #ec0101;
  --menu-hover-color: #ba7967;
  --modal-bg-color: #3c7dc7;
  --modal-close-bg-color: #76a4d7;
  --url-color: #76a4d7;
}

.appContainer {
  background-color: var(--day-bg-color);
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.night .appContainer {
  background-color: var(--night-bg-color);
}

.bodyWrapper {
  align-items: center;
  background-color: var(--day-bg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 150px;
  padding-top: 100px; /* Space covered by header */
  width: 100%;
}

.night .bodyWrapper {
  background-color: var(--night-bg-color);
}

.skipLink {
  background-color: var(--day-notification-bg-color);
  border-radius: 5px;
  color: var(--day-notification-color);
  display: none;
  font-size: 0.9rem;
  font-weight: 600;
  left: 5px;
  padding: 10px;
  position: absolute;
  text-decoration: none;
  top: 5px;
  transform: translateX(-110%);
  transition: transform 0.4s;
  z-index: 10;
}

.skipLink:focus {
  transform: translateX(0%);
}

.night .skipLink {
  background-color: var(--night-notification-bg-color);
  color: var(--night-notification-color);
}
