:root {
  --day-bg-color: #fff;
  --day-font-color: #393b44;
  --day-font-important-color: #222831;
  --day-footer-text-color: #41444b;
  --day-header-bg-color: #eee;
  --day-image-border-color: #f1f3f8;
  --day-li-font-color: #393b44;
  --day-menu-hover-color: #87431d;
  --day-notification-bg-color: #202124;
  --day-notification-close-bg-color: #737373;
  --day-notification-color: #fff;
  --day-ruler-color: #8d93ab;
  --day-url-color: #3740ff;

  --night-bg-color: #000;
  --night-font-color: #eee;
  --night-header-bg-color: #363636;
  --night-li-font-color: #a0aec0;
  --night-menu-hover-color: #f8bd7f;
  --night-notification-bg-color: #eee;
  --night-notification-close-bg-color: #cacdcf;
  --night-notification-color: #202124;
  --night-ruler-color: #f1f3f8;
  --night-url-color: #3c7dc7;

  --button-color: #07689f;
  --contact-form-color: #be9f76;
  --contact-form-placeholder-color: #8d93ab;
  --contact-form-title-color: #81643d;
  --fail-icon-color: #ec0101;
  --modal-bg-color: #3c7dc7;
  --modal-close-bg-color: #76a4d7;
}

.appContainer {
  background-color: var(--day-bg-color);
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.night .appContainer {
  background-color: var(--night-bg-color);
}

.bodyWrapper {
  align-items: center;
  background-color: var(--day-bg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 150px;
  padding-top: 100px; /* Space covered by header */
  width: 100%;
}

.night .bodyWrapper {
  background-color: var(--night-bg-color);
}

.suspenseContainer {
  background-color: var(--day-bg-color);
  height: 100%;
  padding-bottom: 150px;
  padding-top: 100px;
  width: 100%;
}

.night .suspenseContainer {
  background-color: var(--night-bg-color);
}

.suspenseText {
  animation: 3s fadeIn;
  animation-fill-mode: forwards;
  color: var(--day-font-color);
  padding-top: 50px;
  text-align: center;
  visibility: hidden;
}

.night .suspenseText {
  color: var(--night-font-color);
}

.skipLink {
  background-color: var(--day-notification-bg-color);
  border-radius: 5px;
  color: var(--day-notification-color);
  display: none;
  font-size: 0.9rem;
  font-weight: 600;
  left: 5px;
  padding: 10px;
  position: absolute;
  text-decoration: none;
  top: 10px;
  transform: translateX(-110%);
  transition: transform 0.4s;
  z-index: 10;
}

.skipLink:focus {
  transform: translateX(0%);
}

.night .skipLink {
  background-color: var(--night-notification-bg-color);
  color: var(--night-notification-color);
}

hr {
  color: var(--day-ruler-color);
  margin-top: 20px;
  width: 70%;
}

.night hr {
  color: var(--night-ruler-color);
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
